<html>
	<head>
	</head>

	<body>
		<div class="container home-body">
			<div class="row">
				<div class="col-md-9">

				</div>

				<div class="col-md-3">
					<%= render "layouts/categorysidebar" %>
				</div>
			</div>
		</div>
	</body>
</html>