<html>
	<head>
	</head>

	<body>
		<div class="container-fluid home-body">
			<div class="row">
				<div class="col-md-9">
					<div class="container-fluid books-group">
						<p class="book-group-title"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>Sách mới</p>

						<div class="row book-row">
							<% for i in 0..7 %>
								<div class="col-xs-6 col-sm-4 col-md-3">
									<div class="sub-book">
										<img src="Inferno-cover.jpg" alt="...">
										<p class="title">Inferno</p>
										<div class="form-group rating-form">
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
										</div>
										<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Cho vào giỏ</button>
									</div>
								</div>
							<% end %>
						</div>
					</div>

					<div class="container-fluid books-group">
						<p class="book-group-title"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>Sách mới cập nhật</p>

						<div class="row book-row">
							<% for i in 0..7 %>
								<div class="col-xs-6 col-sm-4 col-md-3">
									<div class="sub-book">
										<img src="davincicode.jpg" alt="...">
										<p class="title">The DaVinci Code</p>
										<div class="form-group rating-form">
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
										</div>
										<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Cho vào giỏ</button>
									</div>
								</div>
							<% end %>
						</div>
					</div>


				</div>

				<div class="col-md-3">
					<%= render "layouts/categorysidebar" %>
				</div>
			</div>
		</div>
	</body>
</html>