.category-group .active {
	font-size: 15px;
}

.category-group span {
	margin-right: 12px;
}

.category-group .badge {
	margin-right: 3px;
	background-color: #e2617d;
	color: white;
}

.subscribe-group {
	border: 1px solid #d5d5d5;
}

.subscribe-group .panel-heading {
	font-size: 15px;
}

.subscribe-group span {
	margin-right: 8px;
}

.subscribe-group input {
	margin-bottom: 8px;
}

.subscribe-group button {
	width: 100%;
}

.author-group {
	border: 1px solid #d5d5d5;
}

.author-group .panel-heading {
	font-size: 15px;
	background-color: #4dad4a;
	color: white;
}

.author-group .sub-author-form {
	padding: 5px;
	border: 1px solid #d4d4d4;
	margin-bottom: 10px;
}

.author-group .sub-author-form img {
	width: 100%;
	margin-bottom: 5px;
}

.author-group .sub-author-form button {
	width: 100%;
	border-radius: 0px;
	padding-top: 4px; padding-bottom: 4px;
	font-size: 13px;
}

.author-group .sub-author-form span {
	margin-right: 5px;
	font-size: 13px;
}



