<html>
	<head>
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/categorysidebar.css">
	</head>

	<body>
		<div class="list-group category-group">
		  <a href="#" class="list-group-item active">Sách hay dành cho bạn</a>
		  <a href="#" class="list-group-item"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Sách nổi tiếng nhất<span class="badge">10</span></a>
		  <a href="#" class="list-group-item"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span>Bình chọn cao nhất<span class="badge">20</span></a>
		  <a href="#" class="list-group-item"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Sách trong ngày<span class="badge">36</span></a>
		  <a href="#" class="list-group-item"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Sách trong tuần<span class="badge">41</span></a>
		  <a href="#" class="list-group-item"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Sách trong tháng<span class="badge">15</span></a>
		  
		</div>

		<div class="list-group category-group">
			<a href="#" class="list-group-item active">Sự kiện nổi bật</a>
			<a href="#" class="list-group-item"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>Miễn phí 10 cuốn sách hôm nay<span class="badge">7</span></a>
			<a href="#" class="list-group-item"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>Giảm giá 30% tất cả các cuốn sách<span class="badge">8</span></a>
			<a href="#" class="list-group-item"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>Gặp gỡ nhà văn Dan Brown<span class="badge">2</span></a>
		</div>

		<div class="panel panel-primary subscribe-group">
			<div class="panel-heading">Nhận tin mới từ chúng tôi</div>
			<div class="panel-body">
			<p>Bạn là người yêu thích sách và không muốn bỏ lỡ những thông tin mới nhất về những cuốn sách đang được phát hành trên thị trường? Hãy đăng ký để nhận được những thông tin mới nhất từ chúng tôi !</p>
			<div class="form-group">
				  <input type="text" class="form-control" placeholder="Địa chỉ mail của bạn" aria-describedby="basic-addon1">
				  <input type="text" class="form-control" placeholder="Họ và tên của bạn" aria-describedby="basic-addon1">
			</div>
			<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>Đăng ký</button>
			</div>
		</div>

		<div class="panel panel-success author-group">
			<div class="panel-heading">Tác giả trong ngày</div>
			<div class="panel-body">
				<div class="row">
					<% for i in 1..2 do %>
						<div class="col-xs-6 col-sm-4 col-md-6">
							<div class="sub-author-form">
								<img src="author3.png" alt="...">
								<button type="button" class="btn btn-info">Theo dõi</button>
							</div>
						</div>
					<% end %>
					<% for i in 1..2 do %>
						<div class="col-xs-6 col-sm-4 col-md-6">
							<div class="sub-author-form">
								<img src="author2.png" alt="...">
								<button type="button" class="btn btn-info">Theo dõi</button>
							</div>
						</div>
					<% end %>
					<% for i in 1..2 do %>
						<div class="col-xs-6 col-sm-4 col-md-6">
							<div class="sub-author-form">
								<img src="author1.png" alt="...">
								<button type="button" class="btn btn-info">Theo dõi</button>
							</div>
						</div>
					<% end %>
					<% for i in 1..2 do %>
						<div class="col-xs-6 col-sm-4 col-md-6">
							<div class="sub-author-form">
								<img src="author4.png" alt="...">
								<button type="button" class="btn btn-info">Theo dõi</button>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</body>
</html>