<html>
	<head>
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/footer.css">
	</head>
	<body>
		<div class="container-fluid footer-support-body">
			<div class="row">
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-3 support-list">
							<p class="title">Hỗ trợ khách hàng</p>
							<ul class="list-group">
					            <li><a href="#">Các câu hỏi thường gặp</a></li>
					            <li><a href="#">Email</a></li>
					            <li><a href="#">Hotline: 1900-1009</a></li>
					            <li><a href="#">Hướng dẫn đặt sách</a></li>
					            <li><a href="#">Phương thức vận chuyển</a></li>
					            <li><a href="#">Chính sách đổi trả</a></li>
					        </ul>
						</div>

						<div class="col-md-3 support-list">
							<p class="title">Tài khoản của bạn</p>
							<ul class="list-group">
					            <li><a href="#">Trạng thái đơn hàng</a></li>
					            <li><a href="#">Lịch sử đơn hàng</a></li>
					            <li><a href="#">Quên mật khẩu</a></li>
					            <li><a href="#">Thông tin tài khoản</a></li>
					            <li><a href="#">Chính sách bảo mật</a></li>
					            <li><a href="#">Điều khoản sử dụng</a></li>
					        </ul>
						</div>

						<div class="col-md-3 support-list">
							<p class="title">Về Die4Top Library</p>
							<ul class="list-group">
					            <li><a href="#">Giới thiệu</a></li>
					            <li><a href="#">Tư Vấn</a></li>
					            <li><a href="#">Liên lạc</a></li>
					            <li><a href="#">Địa chỉ</a></li>
					        </ul>
						</div>

						<div class="col-md-3 support-list">
							<p class="title">Liên kết</p>
							<ul class="list-group">
					            <li><a href="#">Techmaster Việt Nam</a></li>
					            <li><a href="#">Thăng Long ICT</a></li>
					            <li><a href="#">Tinh Tế</a></li>
					        </ul>
						</div>
					</div>
				</div>
				<div class="col-md-3">

				</div>
			</div>
		</div>

		<div class="container-fluid footer-introduce-body">
			<div class="row">
				<div class="col-md-3 introduce-body-left">
					
				</div>

				<div class="col-md-6 introduce-body-center">
					<h3 class="title">Die4Top Library</h3>
					<table class="table">
						<tr>
							<td style="width: 90px;">Email</td>
							<td>info@kenh14.vn | Điện thoại: 04.73077979, máy lẻ 62114</td>
						</tr>
						<tr>
							<td>Điện thoại</td>
							<td>04.73077979, máy lẻ 62114</td>
						</tr>
						<tr>
							<td>Địa chỉ</td>
							<td>Hà Nội: Tầng 20, tòa nhà Center Building, Hapulico Complex, số 1 Nguyễn Huy Tưởng, phường Thanh Xuân Trung, quận Thanh Xuân, Hà Nội.</td>
						</tr>
						<tr>
							<td>VPĐD</td>
							<td>Tại TP.HCM: Tầng 6 Tòa nhà 123 Võ Văn Tần, phường 6, quận 3, Tp. HCM</td>
						</tr>
						<tr>
							<td>Điện thoại</td>
							<td>08.73077979, máy lẻ 216</td>
						</tr>
						<tr>
							<td>Email</td>
							<td>info@kenh14.vn</td>
						</tr>
					</table>
<!-- 					<p>Email: info@kenh14.vn | Điện thoại: 04.73077979, máy lẻ 62114</p>
					<p>Điện thoại: 04.73077979, máy lẻ 62114</p>
					<p>Hà Nội: Tầng 20, tòa nhà Center Building, Hapulico Complex, số 1 Nguyễn Huy Tưởng, phường Thanh Xuân Trung, quận Thanh Xuân, Hà Nội.</p>
					<p>VPĐD tại TP.HCM: Tầng 6 Tòa nhà 123 Võ Văn Tần, phường 6, quận 3, Tp. HCM</p>
					<p>Điện thoại: 08.73077979, máy lẻ 216</p>
					<p>Email: info@kenh14.vn</p> -->
					<p><em>Mọi hành động sử dụng nội dung đăng tải trên Die4Top Library tại địa chỉ www.library.die4top.com phải có sự đồng ý bằng văn bản của Die4Top Library.</em></p>
					<div class="form-group copy-right-group">
						<p>© Copyright 2015 library.die4top.com, All rights reserved</p>
						<p>® Die4Top Library giữ bản quyền nội dung trên website này.</p>
					</div>
				</div>

				<div class="col-md-3 introduce-body-right">
					<div class="form-group">
						<p class="title"><span class="glyphicon glyphicon-heart" aria-hidden="true" style="margin-right: 8px;"></span>Kết nối với chúng tôi</p>
						<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span></button>
						<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-music" aria-hidden="true"></span></button>
						<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></button>
						<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></button>
					</div>

					<div class="form-group">
						<p class="title"><span class="glyphicon glyphicon-leaf" aria-hidden="true" style="margin-right: 8px;"></span>Chia sẻ những điều bạn muốn</p>
						<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-film" aria-hidden="true"></span></button>
						<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span></button>
						<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span></button>
						<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></button>
					</div>

					<div class="form-group">
						<p class="title"><span class="glyphicon glyphicon-gift" aria-hidden="true" style="margin-right: 8px;"></span>Đón nhận những điều tốt đẹp nhất</p>
						<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span></button>
						<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></button>
						<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></button>
						<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-send" aria-hidden="true"></span></button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>