<html>
	<head>
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/leftsidebar.css">
	</head>

	<div class="sidebar-navbar">
			<div class="form-group user-form">
			<div class="row">
				<div class="col-md-12">
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></button></div>
				<div class="col-md-12">
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button></div>
				<div class="col-md-12">
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span></button></div>
				<div class="col-md-12">
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button></div>
			</div>
		</div>
	</div>
</html>