<html>
	<head>
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/leftsidebar.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

		<script>
			$(document).ready(function(){
				$(window).scroll(function(){
					if ($(this).scrollTop() > 50) {
						$('#scroll-top-btn').show(300);
					} else {
						$('#scroll-top-btn').hide(300);
					}
				});

				$('#scroll-top-btn').click(function(){
					$('html, body').animate({scrollTop : 0}, 300);
					return false;
				});
			});
		</script>
	</head>

	<div class="sidebar-navbar">
		<div class="form-group user-form">
			<ul>
				<% if user_signed_in? %>
					<% if current_user.role?(:administrator) %>
						<li id="admin-li"><%= link_to "A", admin_root_path, id: "admin-link" %></span></li>
					<% end %>
				<% end %>
				<li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
				<li><a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
				<li><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></li>
				<li><a href="#"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span></a></li>
			</ul>
		</div>

		<div class="form-group setting-form">
			<ul>
				<li id="scroll-top-btn"><a href="#"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a></li>
				<li><a href="#"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span></a></li>
				<li><a href="#"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span></a></li>
				<li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
			</ul>

		</div>

	</div>
</html>